
html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#div1{

  display: block;
  padding-top: auto;
  margin-top: 100px;
}

#div2{

  padding-top: auto;
  padding-bottom: auto;
  width: 100%;
  margin-top: 100px;
}
#div3{
  color: black;;
  padding-top: auto;
  height: auto;
  margin-top: 100px;
}

#div4{
  padding-top: auto;
  margin-top: 100px;

}

.mr-auto{
  font-size: 15px;

}
#briefbio{
    background-color: #45120f;
    border-radius: 1px;
    height: auto;
    box-shadow: 4px -3px 3px 0px #68747D;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: white;
    padding-top: 20px;
}

#resumeexperiencepart{

  background-color: lightgrey;
  border-radius: 1px;
  height: auto;
  box-shadow: 3px -3px 3px 0px #68747D;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.computerskills {
  height: 290px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.resumephoto{
  margin-top: 30px;
  height: 200px;
  width:195px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.menu{
  color:white;
}

.thumbnail img{
  height:85%;
  width: 100%;
  border-width: auto;
  box-shadow: 1px -1px 1px 1px #68747D;
  background-color: white;
  padding:2px;
  margin: auto;
  display: block;
  position: relative;
}

img:hover{

  box-shadow: 0 0 2px 1px rgba(25, 256, 256, 0.9);
}



h2{
  font-size: 30px;
}
/* The main navbar before scrolling*/
.navbar-dark{
    background-color: #0b455e;
    border-bottom: 0.5px solid lightgrey;
    z-index: 10;
    height: 65px;
}

/* The collapsed navbar background color*/
.navbar.scrolled .navbar-collapse{
  background:#011a20;
}

.navbar-darked{

  background-color: #116980;
  box-shadow: 2px 2px 2px 2px black;
  padding: 5px;
}
.navbar-custom .navbar-brand{
  color:white;
  font-size: 30px;
}

.nav-link{
  color: white;
}

.about{
  color:white;
  display: block;

}
.photo{
  max-height: 35%;
  max-width: 38%;
  border-radius:50%;
  float: right;
  box-shadow:0px 1px 1px 1px black;
}

.contactme{
  color: black;
  font-size: 42px;
  font-weight: bold;
}

.navbar-brand{
  padding-left: 10px;
}

.navbar-brand1{
  color:white;
  font-size: 20px;
}


.navbar-brand1:hover{

  box-shadow: 0 0 4px 3px rgba(1, 210, 106, 0.9);
  width: auto;
  height: auto;
  text-decoration: none;
  color: yellow;
  padding: auto;
}

p {
  font-size: 18px;
}

.hompagecover{
  width: 35px;
  height: 40px;
  padding-bottom:5px;
}

.hompagecover:hover{
  box-shadow: 0px 1px 20px 5px rgba(39,205,205,0.8);
}

.hompagecover1{
  width: 60px;
  height: 58px;
  border-radius: 30px;
  display: inline-block;
}

.hompage{
  width: 33px;
  height: 43px;
  padding-bottom: 10px;
}
.Copyright{
  font-size: 12px;
  color: maroon;
}

.navbar-dark .nav-item:hover .nav-link{
    color: rgb(0, 0, 0);
    background: #e7eaec; /* add background-color to active links */
    opacity: 0.65;
    border-radius: 5px;
    display:block;
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
}

.portfolio-text{
  color: white;
  font-size: 20px;
}


body {
  background-color: #EDEDED;
  height:auto;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar-toggler:hover{

  box-shadow: 0px 1px 20px 5px rgba(39,205,205,0.8);
}

.navbar-toggler{

  background-color: transparent;
  padding: auto;
  margin-right: 7px;
  
}

.navbar-dark .navbar-toggler-icon{

  background-image: url("../img/hamburgermenu.png");
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

.navbar-collapse{

  text-align: left;
  padding:5px;
  padding-top: 8px;
  background-color: #0b455e;;
}
.menu{
  color: rgb(21, 1, 1);
}

.hompage{
  width: 33px;
  height: 43px;
  padding-bottom: 10px;
}


.thumbnail1 img:hover{

  box-shadow: 0 0 4px 3px rgba(1, 140, 186, 0.9);

}

.thumbnail2 img:hover{

  box-shadow: 0 0 4px 3px rgba(1, 140, 186, 0.9);

}

.thumbnail3 img:hover{

  box-shadow: 0 0 4px 3px rgba(1, 140, 186, 0.9);
}

.MathResourceIcons img:hover{
  box-shadow: 0px 1px 5px 5px rgba(39,155,189,0.8);
  height: auto;
  display: block;
  border-radius: 50%;
}

#footer a img:hover{
  box-shadow: 0 0 4px 3px rgba(1, 140, 186, 0.9);
  width: auto;
  height: auto;
}

.thumbnail1 img{
  height: 90%;
  width: 100%;
  border-width: auto;
  box-shadow: 1px -1px 1px 1px #68747D;
  background-color: white;
  margin: 1px auto;
  display: block;
  position: relative;
}

.thumbnail2 img{
  height: 80%;
  width: 95%;
  border-width: auto;
  box-shadow: 1px -1px 1px 1px #68747D;
  background-color: white;
  padding: 10px;
  display: block;
  margin: 1px auto;
  position: relative;
  align-content: center;
}

.ImageBorder{
  height: 60%;
  width: 80%;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 1px -1px 1px 1px #68747D;
  display: block;
  margin: 1px auto;
}

.mathcauses{
  box-shadow: 1px 1px 1px 1px #68747D;
  padding-left: 3px;
  padding-right: 2px;
  background: #EDEDED;
  border: 2px solid maroon;
  border-radius: 15px;
}

.mathcauses:hover{
  background: rgba(25, 181, 254, 1);

}

p1{
  font-size: 15.5px;
}

.PISA_2018_Report{
  border: 2px solid black;
  border-radius: 10px;

}

.mathresources{
  height: 10%;
  width: 40%;
  display: block;
  margin-top: 20px;

}
.mathresources img:hover{
  box-shadow: 0 0 12px 5px rgba(15, 15, 15, 0.9);

}

h1{
  text-align: center;
}
h2{
  font-size: 32px;
  text-align: center;
}
h4{
  font-size: 20px;
  text-align: center;
}
h5{
  text-align: center;
}
h3{
  text-align: center;
}


.navbar-custom {
    background:#116980;
}

.navbar-custom .navbar-brand{
  color:white;
  font-size: 25px;
}

.navbar-custom .nav-item:hover .nav-link {
    background-color: #ebf4f5;
    border-radius: 10px;
}

.nav-link{
  color: white;
  font-size: 17px;
}


#footer{
  height: 50px;
  margin-top: 200px;
  clear: both;
}

.about{
  padding-top: 30px;
  position: relative;
}

.contactMeBySocialMedia{
  display: block;
  align-content: center;
}

.contactme{
  color: black;
  font-size: 42px;
  font-weight: bold;
}


.navbar-custom .navbar-brand:hover{
    color: yellow;

}


p {
  font-size: 18px;
}
.dropdown-item:hover{
    background-color: #ffe3cc;
}

.Copyright{
  font-size: 12px;
  color: maroon;
}


.hompagecover{
  width: 35px;
  height: 40px;
  padding-bottom:5px;
}
.hompage{
  width: 33px;
  height: 43px;
  padding-bottom: 10px;
}

.ball {
	display: block;
  border: 1px black;
	width: 130px;
	height: 130px;
	margin: 50px auto 0;
	border-radius: 50%;
}
.b2 {
  background: radial-gradient(circle at 65% 15%, white 1px, aqua 3%, black 60%, aqua 100%);
}

.b3 {
  background: radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkblue 60%, aqua 100%);
}

.b4 {
  background: radial-gradient(circle at 65% 15%, white 0px, red 3%, maroon 40%, red 100%);
}

.b5 {
  background: radial-gradient(circle at 65% 15%, white 0px,#DE84FB 3%, #510769 40%, #C72EF8 100%);
}
.b6 {
  background: radial-gradient(circle at 65% 15%, white 0px,#7A7DDA 3%, #242A93 40%, #040638 100%);
}

.b7 {
  background: radial-gradient(circle at 65% 15%, white 0px,#D4F191 3%, #607D1D 40%, #2E4004 100%);
}
.b8 {
  background: radial-gradient(circle at 65% 15%, white 0px,yellow 3%, orange 40%, #3D0109 100%);
}
.b9 {
  background: radial-gradient(circle at 65% 15%, white 1px,limegreen 3%, green 40%, darkgreen 100%);
}
.b10 {
  background: radial-gradient(circle at 65% 15%, white 1px,white 3%, grey 40%, #C7CFC9 100%);
}
.b11 {
  background: radial-gradient(circle at 65% 25%, white 1px,#78BFD1 3%, #347A8C 40%, #03333F 100%);
}
.b12 {
  background: radial-gradient(circle at 65% 15%, white 1px,yellow 3%, red 40%, purple 100%);
}
.b13 {
  background: radial-gradient(circle at 65% 15%, white 1px,white 3%, lime 40%, black 100%);
}

.ball a{
    color:white;
    font-size: 18px;
    font-style: bold;
}
.ball:hover{
  box-shadow: 0 0 25px 5px rgba(217, 220, 236, 0.9);
}

.ball0{
  display: block;
  border: 9px solid #752222;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  padding: 0;
}

.firstborder{
  border:6px solid rgb(192, 193, 194);
  width: 127px;
  height: 127px;
  margin: 50px auto 0;
  display: block;
  border-radius: 50%;
  box-shadow: -0.5px 1px 2px 2px #4f5052;
}

.b0{
  background: radial-gradient(circle at 50% 15%, white 1px,white 3%, grey 40%, #C7CFC9 100%);
}

.ball0:hover{
  box-shadow: 0 0 18px 3px rgba(217, 220, 236, 0.9);
}
.ball0 a {
    color:rgb(236, 240, 29);
    font-size: 18px;
    font-style: bold;
}

.header{
  border-bottom-left-radius: 100% 60%;
  border-bottom-right-radius: 100% 60%;
  border-top-left-radius: 100% 60%;
  border-top-right-radius: 100% 60%;
}

.heading:hover{
  background: rgba(231, 250, 254, 0.5);
  border-bottom-left-radius: 100% 60%;
  border-bottom-right-radius: 100% 60%;
  border-top-left-radius: 100% 60%;
  border-top-right-radius: 100% 60%;
  color: black;
}

.ImageBorder:hover{
    background:rgba(240, 255, 0, 0.58);
}
.mathcauses:hover{
  background: rgba(254, 241, 96, 0.5);

}
.PISA_2018_Report:hover{
  background:rgba(254, 241, 96, 0.5);
}

.ReturnToTop:hover{
  background: #45120f;
  }

  #first{
    background: radial-gradient(circle, white, darkorange);
    border-radius: 10px;
  }
  #second{
    background: radial-gradient(circle, white, darkorange);
    border-radius: 10px;
  }
  #third{
    background: radial-gradient(circle, white, darkorange);
    border-radius: 10px;
  }
  #fourth{
    background: radial-gradient(circle,  white, darkorange);
    border-radius: 10px;
  }
#first:hover{
  background: maroon;
  color:white;
}
#fourth:hover{
  background: maroon;
  color:white;
}
#second:hover{
  background: maroon;
  color:white;
}
#third:hover{
  background: maroon;
  color:white;
}


.buttonn{
  background-color: lightgray;
  border:2px solid white;
}

.buttonn:hover{
  background-color: lightgreen;
}

.PortfolioButton{
    background-color: #02191f;
    border:2px solid rgb(241, 185, 30);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow:2px 1px 4px 1px #1d0101;
    margin-top: 90px;
  }

  .PortfolioButton:hover{
    background-color: rgb(42, 157, 202);   
  }



.Coverpage {
  background:url('../contents/World-Continents.png');
  background-size:cover;
  background-position:center center;
  height:1050px;
  width:100%;
  padding-top:25%;
  padding-bottom:25%;
  color: white;
}

.headerfirstpage{
  display: inline-block;
  text-align: center;
  border: 2px solid rgb(244, 245, 246);
  background-color: #4b1504;
  opacity: 45%;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0.5px 0px 0.5px 0px;

}

.headerfirstpage:hover{
  background-color: rgb(85, 186, 226);
  border: 2px solid rgb(85, 186, 226);
  color: black;
}

.headersecondline{
  font-size: 25px;
}

backgroundImage{
  position: absolute;
  height: 100%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.resumeportfoilo{
  font-size: 12.5px;
  margin-left: -2px;
  color: rgb(175, 36, 36);
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(245, 238, 238);
  opacity: 55%;
  border-radius: 10px;
}

#rotatingbutton{
  width: 80px;
  height:80px;
  background-image: url("../img/World-Continents.png");
  border: 0.05px solid rgb(221, 188, 182);
  border-radius: 50%;
  overflow: visible;
  background-size: 142px;
  animation-name: rotate;
  animation-duration: 310s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  margin: auto;
  padding-top: 26px;
}
@keyframes rotate {
  from { background-position-x: 0px; }
  to { background-position-x: 3900px; }
  }


/* When you mouse over the container, the overlay text will "zoom" in display */
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 2px;
    background-color: #07506f;
    opacity: 0.8;
    overflow: hidden;
    width: 100%;
    height: 103.6%;
    transform: scale(0);
    transition: 0.5s ease;
    border:3px solid rgb(255, 255, 255);
    border-radius: 2px;
    
  }
  
  /* When you mouse over the container, the overlay text will "zoom" in display */
  .thumbnail:hover .overlay {
    transform: scale(0.92);
  }
  
  /* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
  .text {
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 7px;
  }

  .icons{
    height: 100PX;
    width: 100PX;
  }

  .icons1{
    height: 120px;
    width: 160px;
  }