html, body {
width:100%;
height: 100%;
margin: 0px;
}

/*This was commented to show the projection in a clear mode

/* .gratLines {
    fill: none;
    stroke: white;
    stroke-width: 0.5px;
} */

.state{
	stroke: black;

}
.map{
		background-color: black;
    border: 3px solid white;
    float: left;
    box-shadow: 1px 1px 2px white;
		border-radius:5px;
		stroke: black;
		stroke-width: 1px;
    stroke-linecap: round;
}

.chartFrame {
    fill:black ;
		background-color: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
		box-shadow: 1px 1px 2px white;
		padding-bottom: 15px;
}
.chartTitle {
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: bold;
		fill:white;
		text-align:center;
}

.chart {
    background-color: black;
    border: 3px solid white;
    float: right;
    box-shadow: 1px 1px 2px white;
		border-radius:5px;
}


.axis{
	fill:none;
	color:white;
	stroke-width:1.5px;
}


.dropdown {
    position: absolute;
    background:white;
    top: 155px;
    left: 30px;
    z-index: 20;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 2px;
    border: 3px solid maroon;
    box-shadow: 1px -1px 1px white;
    width:300px;
    height:35px;
    border-radius:8px
}

option {
    font-weight: normal;
}

.infolabel {
    margin: 0 10px 0 0;
    position: absolute;
    height: 30px;
    min-width: 100px;
    color: #fff;
    background-color: #07317a;
    border: solid #19b2c6;
    padding: 2px 6px;
    top: -75px;
		font-size:12px;
		border-radius:8px;
}

.infolabel h1 {
    margin: 0 4px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}



.header{
	color:white;
	text-align:center;
	font-size:12px;
	margin-bottom:15px;
}

body{
  background-color: #C0B3A0;
}
.footer {
	position: absolute;
	color:white;
	margin-top: 550px;
	margin-left: 25px;
  left: 10px;
	width: 46%;
	height:170px;
	text-align: center;
	color: black;
	border: 2px solid maroon;
	padding: 20px;
	border-style: dashed;
	border-bottom-left-radius: 0% 60%;
  border-bottom-right-radius: 0% 60%;
  border-top-left-radius: 100% 60%;
  border-top-right-radius: 100% 60%;
	background:rgba(150, 96, 197, 0.12);
	box-shadow: 1px -2px 1px purple;
}
.footer:hover{
	background: rgba(254, 241, 96, 0.5);

}
